<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/team" method="post">
      <h1>Create a Team and Heroes!</h1><br><br>
      <label for="">Team Name: </label><input type="text" name="team_name"><br>
      <label for="">Team Motto: </label><input type="text" name="team_name"><br><br>

      <h2>Hero 1</h2>
    </form>
  </body>
</html>
