<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/team" method="post">
      <h1>Create a Team and Heroes!</h1><br><br>
      <label for="">Team Name: </label><input type="text" name="team_name"><br>
      <label for="">Team Motto: </label><input type="text" name="team_motto"><br><br>

      <h2>Hero 1</h2><br><br>
      <label for="">Hero's Name: </label><input type="text" name="hero[name]"><br>
      <label for="">Hero's Power: </label><input type="text" name="hero[power]"><br>
      <label for="">Hero's Biography: </label><input type="text" name="hero[biography]"><br><br>

      <h2>Hero 2</h2><br><br>
      <label for="">Hero's Name: </label><input type="text" name="hero[name]"><br>
      <label for="">Hero's Power: </label><input type="text" name="hero[power]"><br>
      <label for="">Hero's Biography: </label><input type="text" name="hero[biography]"><br><br>

    </form>
  </body>
</html>
